
<div class="dashboardPage">
    <h3>Dashboard</h3>
    

<h6 style="margin-top: 50px; color: rgb(119, 119, 119);">Welcome,</h6>
<h3 style="margin-top:0px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:darkcyan">{{name}}</h3>
{{!-- <h3>{{profile}}</h3> --}}
{{!-- <h6 style="margin-top:10px;">View your books</h6> --}}

{{#if stories}}

    <table >
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Last Modified</th>
        </thead>
        <tbody >
            {{#each stories}}
                <tr class="tableBody">
                        

                    <td>{{title}}</td>
                    
                    <td class="storyContent">{{body}}</td>
                    <td>{{author}}</td>
                    <td>{{createdAt}}</td>
                    <td><a href="/stories/{{_id}}">Read more</a></td>

                    <td><a href="/dashboard/delete/{{_id}}" style="background-color: red; color:white;">Delete</a></td>
                </tr>



            {{/each}}
        </tbody>

    </table>


{{else}}
<p style="margin-top: 25px;">You have no stories ...</p>

{{/if}}

</div>